{% extends 'SignLayout.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="glass-card">
        <h2 class="mb-4">Réinitialisation du mot de passe</h2>
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        <button class="btn btn-primary mt-3" type="submit">Envoyer le lien</button>
        {{ form_end(form) }}
    </div>
{% endblock %}